.filters-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

#productSearch {
    padding: 3px 8px;
    width: 250px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mass-limits-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.mass-limits-container input {
    padding: 5px;
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mass-limits-container button {
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mass-limits-container button.apply-limits {
    background-color: #28a745;
}

.mass-limits-container button.apply-limits:hover {
    background-color: #218838;
}

.mass-limits-container button.clear-limits {
    background-color: #dc3545;
}

.mass-limits-container button.clear-limits:hover {
    background-color: #c82333;
}

.filter-btn {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-btn.exclude-btn {
    background-color: #ffc107;
    color: black;
}

.filter-btn.exclude-btn:hover {
    background-color: #e0a800;
}

.filter-btn.clear-btn {
    background-color: #6c757d;
    color: white;
}

.filter-btn.clear-btn:hover {
    background-color: #5a6268;
}
