<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
<!-- Form for user to input their data -->
    <h1>Enter your details</h1>
    <script>
        function showCategories() {
            var selectBox = document.getElementById("type");
            var categoryDiv = document.getElementById("Categories");
            if (selectBox.value === "Select categories") {
                categoryDiv.style.display = "block";
            } else {
                categoryDiv.style.display = "none";
            }
        }
    </script>
    <form action="/calculate" method="POST">
        <!-- Input field for age -->
        Age: <input type="number" name="age" step="any" required><br>
        <!-- Input field for height -->
        Height: <input type="number" name="height" step="any" required><br>
        <!-- Input field for weight -->
        Weight: <input type="number" name="weight" step="any" required><br>
        <!-- Input field for gender -->
        <select name="gender" required>
            <option value="man">Man</option>
            <option value="woman">Woman</option>
        </select><br>
        <label>Vegan:<input type="checkbox" id="vegan" name = "vegan" value="vegan"></label><br>

        <!-- Input field for category choice -->
        <select id="type" name="type" onchange="showCategories()">
            <option value="Normal">Normal</option>
            <option value="Select categories">Select categories</option>
        </select><br>

        <div id="Categories" style="display: none">
            <h2>Categories</h2>
                <label><input type="checkbox" name="category"
                              value="1" checked> Augļi</label>
                <label><input type="checkbox" name="category"
                              value="2" checked> Ogas</label>
                <label><input type="checkbox" name="category"
                              value="3" checked> Dārzeņi</label><br>

                <label><input type="checkbox" name="category"
                              value="4" checked> Labības produkti</label>
                <label><input type="checkbox" name="category"
                              value="5" checked> Gaļas produkti</label>
                <label><input type="checkbox" name="category"
                              value="6" checked> Zivju produkti</label><br>

                <label><input type="checkbox" name="category"
                              value="7" checked> Jūras veltes</label>
                <label><input type="checkbox" name="category"
                              value="8" checked> Piena produkti</label>
                <label><input type="checkbox" name="category"
                              value="9" checked> Pākšaugi</label><br>

                <label><input type="checkbox" name="category"
                              value="10" checked> Rieksti</label>
                <label><input type="checkbox" name="category"
                              value="11" checked> Saldumi</label>
                <label><input type="checkbox" name="category"
                              value="12" checked> Dārzeņi</label><br>

                <label><input type="checkbox" name="category"
                              value="13" checked> Maize un maizes izstrādājumi</label>
                <label><input type="checkbox" name="category"
                              value="14" checked> Pusfabrikāti</label>
                <label><input type="checkbox" name="category"
                              value="15" checked> Eļļas un taukvielas</label><br>

                <label><input type="checkbox" name="category"
                              value="16" checked> Sausās uzkodas</label>
                <label><input type="checkbox" name="category"
                              value="17" checked> Piena aizstājēji</label>
        </div>

        <!-- Submit button -->
        <input type="submit" value="Calculate">
    </form>
</body>
</html>
